<!-- <div class="grid-item">
  {% if project.redirect %}
  <a href="{{ project.redirect }}">
  {% else %}
  <a href="{{ project.url | relative_url }}">
  {% endif %}
    <div class="col">
      <div class="card hoverable ">
        {% if project.img %}
        <img src="{{ project.img | relative_url }}" alt="project thumbnail">
        {% endif %}
      </div>
    </div>
      <div class="card-body">
        <div class="col"><p class="card-text">{{ project.snapshot}}</p></div>
        <div class="row ml-1 mr-1 p-0">
          {% if project.github %}
          <div class="github-icon">
            <div class="icon" data-toggle="tooltip" title="Code Repository">
              <a href="{{ project.github }}"><i class="fab fa-github gh-icon"></i></a>
            </div>
          </div>
          {% endif %} 
        </div>
    </div> 
  </a>
</div> -->

<div class="card hoverable mb-3" style="max-width: 100% max-height: auto">
  <!-- To remove redirect, comment these lines -->
  {% if project.redirect %}
  <a href="{{ project.redirect }}">
  {% else %}
  <a href="{{ project.url | relative_url }}">
  {% endif %}

  <div class="row no-gutters">
    {% if project.title=="CUORE and CUPID" %}
    <div class="col-md-3"><img src="{{ project.img | relative_url }}" alt="{{ project.title}}"></div>
    <div class="col"><p class="card-text">{{ project.description}}</p></div>
    <div class="col-md-3"><img src="{{ project.img2 | relative_url }}" alt="{{ project.title}}"></div>
    {% else %}
    <div class="col-md-3"><img src="{{ project.img | relative_url }}" alt="{{ project.title}}"></div>
    <div class="col"><p class="card-text">{{ project.description}}</p></div>
    {% endif %}
  </div>
  </a>
</div>
