{% if project.redirect %}
<a href="{{ project.redirect }}" class="project-link">
{% else %}
<a href="{{ project.url | relative_url }}" class="project-link">
{% endif %}
  <div class="project-card hoverable">
    <div class="project-card-content">
      {% if project.title == "CUORE and CUPID" %}
        <!-- Special layout for CUORE and CUPID with two images -->
        <div class="project-images-dual">
          <div class="project-image-container">
            <img src="{{ project.img | relative_url }}" alt="{{ project.title}}" class="project-image">
          </div>
          <div class="project-image-container">
            <img src="{{ project.img2 | relative_url }}" alt="{{ project.title}}" class="project-image">
          </div>
        </div>
        <div class="project-text">
          <h3 class="project-title">{{ project.title }}</h3>
          <p class="project-description">{{ project.description }}</p>
        </div>
      {% else %}
        <!-- Standard layout for other projects -->
        {% if project.img %}
        <div class="project-image-container">
          <img src="{{ project.img | relative_url }}" alt="{{ project.title}}" class="project-image">
        </div>
        {% endif %}
        <div class="project-text">
          <h3 class="project-title">{{ project.title }}</h3>
          <p class="project-description">{{ project.description }}</p>
        </div>
      {% endif %}
      
      {% if project.github %}
      <div class="project-links">
        <div class="github-link" data-toggle="tooltip" title="Code Repository">
          <i class="fab fa-github"></i>
          <span>GitHub</span>
        </div>
        {% if project.github_stars %}
        <div class="github-stars" data-toggle="tooltip" title="GitHub Stars">
          <i class="fas fa-star"></i>
          <span id="{{ project.github_stars }}-stars">{{ project.github_stars }}</span>
        </div>
        {% endif %}
      </div>
      {% endif %}
    </div>
  </div>
</a>
