/*******************************************************************************
 * Themes
 ******************************************************************************/
 
// Light theme
:root {
  --global-bg-color: #{$white-color};
  --global-code-bg-color: #{$gold-color-vlight};
  --global-text-color: #{$blue-color-dark};
  --global-text-color-light: #{$blue-color};
  --global-theme-color: #{$gold-color};
  --global-hover-color: #{$gold-color-dark};
  --global-footer-bg-color: #{$blue-color};
  --global-footer-text-color: #{$gold-color};
  --global-footer-link-color: #{$gold-color-dark};
  --global-distill-app-color: #{$grey-color};

  .fa-sun {
    display : none;
  }
  .fa-moon {
    padding-left: 10px;
    padding-top: 12px;
    display : block;
  }
}

// Dark theme
html[data-theme='dark'] {
  --global-bg-color: #{$blue-color-dark};
  --global-code-bg-color: #{$blue-color-ldark};
  --global-text-color: #{$gold-color-vlight};
  --global-text-color-light: #{$gold-color};
  --global-theme-color: #{$gold-color};
  --global-hover-color: #{$gold-color-dark};
  --global-footer-bg-color: #{$blue-color};
  --global-footer-text-color: #{$gold-color};
  --global-footer-link-color: #{$gold-color-dark};
  --global-distill-app-color: #{$grey-color-light};

  .fa-sun {
    padding-left: 10px;
    padding-top: 12px;
    display : block;
  }
  .fa-moon {
    display : none;
  }
}
