---
layout: default
---

<div class="post">

  <article>
    {% if page.profile %}
    <!-- <header class="post-header"> -->
    <!-- </header> -->
    <div class="profile float-left">
      <h2 class="post-title">
       <span class="font-weight-bold">Contact</span> 
      </h2>
      <div class="address">
        {{ site.first_name }} {{ site.last_name }} <br>
        <!-- <p class="email">{{ site.email }}</p>  -->
        <a href="mailto:{{ site.email | encode_email }}"><i class="email">{{ site.email }}</i></a>
        </div>
    </div>
    
    <div class="clearfix">
      {{ content }}
    </div>

    <div class="profile float-left">
      <h3 class="post-title">
       <span class="font-weight-bold">Address</span> 
      </h3>
      {% if page.profile.mailing %}
        <div class="address">
          {{ page.profile.mailing }}
        </div>
      {% endif %}
    </div>
    {% endif %}

    <div class="clearfix">
      {{ content }}
    </div>

    {% if page.social %}
    <div class="social">
      <div class="contact-icons">
        {% include social.html %}
      </div>
    </div>
    {% endif %}
  </article>

</div>
