---
layout: default
---
<div class="post">

  <header class="post-header" style="height:3cm">
    <div class="project float-right">
      {% if page.img %}  
        {% if page.title=="CUORE and CUPID" %}
        <img class="img-thumbnail" style="width:48%" src="{{ page.img | relative_url }}"  alt="{{ page.title}}">
        <img class="img-thumbnail" style="width:45%"  src="{{ page.img2 | relative_url }}"  alt="{{ page.title}}">
        {% else %}
        <img class="img-thumbnail" src="{{ page.img | relative_url }}"  alt="{{ page.title}}">
        {% endif %}
        </a>
      {% endif %}
    </div>
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-description">{{ page.snapshot }}</p>
  </header>
  <hr>
  <article>
    {{ content }}
  </article>

</div>
